body {
  color: #b5b4b1;
  font-family: 'Spartan', sans-serif;
  font-weight: normal; }

header {
  margin: 0px; }
  header a {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 22px; }

.lead {
  font-size: 1rem;
  text-align: center;
  color: #686868;
  font-weight: 500;
  letter-spacing: 1.54px;
  line-height: 2; }

.container-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto; }

.col-md-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
  padding-right: 62px;
  padding-left: 70px; }

/*------------BotonesIndex---------*/
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
  color: white;
  background: #8c8c8c;
  margin: 0px 2px 28px 0px; }

.btn-primary:not(:disabled):not(.disabled) {
  cursor: pointer;
  border: none;
  padding: 5px; }

/*--------------FinalBotonesIndex----*/
.bg-dark {
  background: linear-gradient(0deg, rgba(6, 6, 6, 0.415004) -29%, black 64%); }

h1 {
  margin-bottom: 5rem;
  margin: 12px 11px 7px 6px;
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 1.2;
  font-family: 'Darker Grotesque', sans-serif; }

h2 {
  margin-top: 13px; }

.col-md-12 {
  padding-left: 0px;
  padding-right: 0px; }

a {
  text-decoration: none;
  font-size: 18px;
  color: white; }
  a:hover {
    font-size: 23px;
    text-decoration: none;
    color: white; }
    a:hover.active {
      background: none;
      color: white;
      text-decoration: none; }

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #ff8d1e;
  outline: none; }

a:hover {
  font-size: 24px; }

.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 24px; }

.btn-lg {
  font-size: 24; }

.navbar-brand {
  display: flex;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 4rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap; }
  .navbar-brand .center-block {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    background: white;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 6.75rem;
    margin: -4px 0px 25px 0px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 1.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
    .navbar-brand .center-block .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 5.5rem;
      padding-left: 1.5rem; }
      .navbar-brand .center-block .navbar-expand-lg .navbar-nav .nav-link .navbar-dark .navbar-brand {
        color: white; }

.main-ubications__boxitem {
  font-size: 24px;
  color: red; }

.main-ubications__boxitem {
  font-size: 24px;
  padding: 2px 130px 40px 0px; }

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
  color: white;
  background: #8c8c8c; }

.fraseinicio {
  margin-top: 36px;
  margin-bottom: 27px;
  font-family: 'Xanh Mono', monospace;
  border: 0.8px solid #424242; }

.imagen {
  border-radius: 12px; }

.featurette-divider {
  margin: 4rem 0; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 5.5rem;
  padding-left: 1.5rem;
  color: white; }

.logo {
  width: 95px; }

.textoCarousel {
  font-family: 'Bad Script', cursive; }

/* Carousel base class */
.carousel {
  margin-bottom: 4rem; }

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 17rem;
  z-index: 10;
  padding: 4px 0px 0px 14px; }

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem; }

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 34rem; }

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center; }
  .marketing .col-lg-4 h2 {
    font-weight: 400; }
    .marketing .col-lg-4 h2 p {
      margin-right: .75rem;
      margin-left: .75rem; }

/* HR DIVISOR------------------------- */
.featurette-divider {
  margin: 8rem 0rem 4rem 0rem; }
  .featurette-divider heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem; }

/* Thin out the marketing headings */
.botonColor {
  color: red; }

.btn-primary {
  color: #fff;
  background-color: #ff8d1e; }
  .btn-primary:not(:disabled):not(.disabled) {
    cursor: pointer;
    border: none; }

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  box-shadow: white 0px 8px 0px 0px, rgba(0, 0, 0, 0.3) 0px 0px 8px; }
  .card-body .card-header:first-child {
    box-shadow: white 0px 8px 0px 0px, rgba(0, 0, 0, 0.3) 0px 0px 8px; }

.row, .textoNosotros {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.top--imagenes, .textoNosotros .imgNosotros {
  vertical-align: middle;
  position: relative;
  top: 5rem; }

/*---------------------Nosotros-----------------*/
.textoNosotros .imgNosotros {
  box-shadow: 8px 7px 18px 12px;
  padding: 6px; }

/*---------------------EfectoH1-----------------*/
.animate__slideInLeft.animate__bounce {
  --animate-duration: 2s; }

:root {
  --animate-duration: 1200ms;
  --animate-delay: 0.9s; }

.my-element, h1 {
  display: flex;
  animation: bounce;
  animation-duration: 1.5s; }

/*---------------------Locales-----------------*/
.main-ubications__ul li:nth-child(odd) {
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  color: #707070;
  text-transform: uppercase;
  border-bottom: 1px solid #707070;
  width: 70%;
  margin: auto;
  margin-bottom: 15px; }

.main-ubications__ul li {
  text-align: center;
  padding: 5px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1.47px;
  color: #707070;
  font-family: Segoe UI;
  text-transform: uppercase; }

.main-ubications__box {
  display: grid;
  grid-template-columns: 36% 65%;
  margin: 82px -73px 0px 138px; }

.imagenLocales {
  display: block;
  width: 850px;
  margin: auto; }

/*-------------------Footer-------------------*/
/* Main Footer */
footer .main-footer {
  padding-top: 15px;
  background: linear-gradient(0deg, rgba(5, 6, 6, 0.415004) -197%, black 83%); }

footer ul {
  padding-left: 0;
  list-style: none; }

/* Copy Right Footer */
.footer-copyright {
  background: #222;
  padding: 5px 0; }

.footer-copyright .logo {
  display: inherit; }

.footer-copyright nav {
  float: right;
  margin-top: 5px; }

.footer-copyright nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.footer-copyright nav ul li {
  border-left: 1px solid #505050;
  display: inline-block;
  line-height: 12px;
  margin: 0;
  padding: 0 8px; }

.footer-copyright nav ul li a {
  color: #969696; }

.footer-copyright nav ul li:first-child {
  border: medium none;
  padding-left: 0; }

.footer-copyright p {
  color: #969696;
  margin: 2px 0 0; }

/* Footer Top */
.footer-top {
  background: #252525;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 3px solid #222; }

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer {
  background: transparent; }

footer.transparent .footer-copyright {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3); }

/* Footer light */
footer.light .footer-top {
  background: #f9f9f9; }

footer.light .main-footer {
  background: #f9f9f9; }

footer.light .footer-copyright {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3); }

/* Footer 4 */
.footer- .logo {
  display: inline-block; }

/*==================== 
	Widgets 
====================== */
.widget {
  padding: 20px;
  margin-bottom: 40px; }

.widget.widget-last {
  margin-bottom: 0px; }

.widget.no-box {
  padding: 0;
  background-color: transparent;
  margin-bottom: 40px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none; }

.widget.subscribe p {
  margin-bottom: 18px; }

.widget li a {
  color: #ff8d1e; }

.widget li a:hover {
  color: #ff8d1e; }

.widget-title {
  margin-bottom: 20px; }

.widget-title span {
  background: #839FAD none repeat scroll 0 0;
  display: block;
  height: 1px;
  margin-top: 25px;
  position: relative;
  width: 20%; }

.widget-title span::after {
  background: inherit;
  content: "";
  height: inherit;
  position: absolute;
  top: -4px;
  width: 50%; }

.widget-title.text-center span, .widget-title.text-center span::after {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }

.widget .badge {
  float: right;
  background: #7f7f7f; }

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
  color: #fff; }

ul.social-footer2 {
  margin: 0;
  padding: 0;
  width: auto; }

ul.social-footer2 li {
  display: inline-block;
  padding: 0; }

ul.social-footer2 li a:hover {
  background-color: #ff8d1e; }

ul.social-footer2 li a {
  display: block;
  height: 30px;
  width: 30px;
  text-align: center; }

.btn {
  background-color: #ff8d1e;
  color: #fff; }

.btn:hover, .btn:focus, .btn.active {
  background: #ff8d1e;
  color: #fff;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 250ms ease-in-out 0s;
  -moz-transition: all 250ms ease-in-out 0s;
  -ms-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s; }

/*--------------------EmpleoFormulario--------*/
.formularioborder {
  border: 1px solid;
  margin: 40px 0px 2px 2px;
  display: inline-grid;
  padding: 26px 30px 0px 31px; }

.center {
  text-align: center; }

/*---------------------Servicios---------------*/
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.mb-3, .my-3 {
  margin: 34px 0px 0px 0px;
  color: black; }

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem; } }

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4; }
  .featurette-heading {
    font-size: 50px; } }

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem; } }
